{% set route = app.request.get('_route') %}
{% set procedureType = app.request.get('type') %}
<li class="nav-item  menu-open">
    <a class="nav-link {{ route == 'procedure.list' and procedureType == 'zk' ? 'active' : '' }}"
       href="{{ path('procedure.list', {type: 'zk'}) }}">
        <i class="nav-icon fas fa-suitcase"></i>
        <p>Процедуры ZK</p>
    </a>
    <a class="nav-link {{ route == 'procedure.list' and procedureType == 'zp' ? 'active' : '' }}"
       href="{{ path('procedure.list', {type: 'zp'}) }}">
        <i class="nav-icon fas fa-suitcase"></i>
        <p>Процедуры ZP</p>
    </a>
    <a class="nav-link {{ route == 'procedure.list' and procedureType == 'ea' ? 'active' : '' }}"
       href="{{ path('procedure.list', {type: 'ea'}) }}">
        <i class="nav-icon fas fa-suitcase"></i>
        <p>Процедуры EA</p>
    </a>
    <a class="nav-link {{ route == 'procedure.list' and procedureType == 'ek' ? 'active' : '' }}"
       href="{{ path('procedure.list', {type: 'ek'}) }}">
        <i class="nav-icon fas fa-suitcase"></i>
        <p>Процедуры EK</p>
    </a>
    <a class="nav-link {{ route == 'packet-template.list' ? 'active' : '' }}"
       href="{{ path('packet-template.list') }}">
        <i class="nav-icon fas fa-suitcase"></i>
        <p>Список шаблонов</p>
    </a>
    <a class="nav-link {{ route == 'packet.list' ? 'active' : '' }}"
       href="{{ path('packet.list') }}">
        <i class="nav-icon fas fa-suitcase"></i>
        <p>Список пакетов</p>
    </a>
</li>